version: '3.8'

services:
  ark-server-manager:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ark-server-manager
    ports:
      - "8080:8080"
    env_file:
      - .env  # 从 .env 文件加载环境变量
    volumes:
      - ./data:/data
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
    privileged: true

volumes:
  data:
